<h3 class="ui header">{{t "forms.i-i-s-kursovaya-rabota-borisova-anna-визит-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.кодВизита
      class=(if (v-get validationModel "кодВизита" "isInvalid") "error")
      label=(t "forms.i-i-s-kursovaya-rabota-borisova-anna-визит-e.кодВизита-caption")
      data-test-i-i-s-kursovaya-rabota-borisova-anna-визит-e-кодВизита=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "кодВизита" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.началоСеанса
      class=(if (v-get validationModel "началоСеанса" "isInvalid") "error")
      label=(t "forms.i-i-s-kursovaya-rabota-borisova-anna-визит-e.началоСеанса-caption")
      data-test-i-i-s-kursovaya-rabota-borisova-anna-визит-e-началоСеанса=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "началоСеанса" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.конецСеанса
      class=(if (v-get validationModel "конецСеанса" "isInvalid") "error")
      label=(t "forms.i-i-s-kursovaya-rabota-borisova-anna-визит-e.конецСеанса-caption")
      data-test-i-i-s-kursovaya-rabota-borisova-anna-визит-e-конецСеанса=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "конецСеанса" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kursovaya-rabota-borisova-anna-визит-e.датаВизита-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.датаВизита
      class=(if (v-get validationModel "датаВизита" "isInvalid") "error")
      data-test-i-i-s-kursovaya-rabota-borisova-anna-визит-e-датаВизита=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "датаВизита" "message")}}
  </div>
</form>
